.calendar-header, .calendar-instructions{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

/* Highlight booked days */
.booked-slot {
  background: var(--secondary-color) !important;
  color: white !important;
  border-radius: 50%;
}

