/* Fixed Header Styles */
.main-header {
  background-color: var(--white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-left: 100px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header-logo {
  height: 100px;
  width: auto;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.center-logo {
  height: 70px;
  margin-bottom: 0.5rem;
}


.header-text h1 {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 0.3rem;
}

.header-text p {
  font-size: 0.8rem;
  color: var(--text-color);
}